.voting, .ui.feed > .event > .label .icon, .voting .count, .comment .voting .icon, .feed-actions {
  display: flex;
  flex-wrap: wrap; }

.ui.feed > .event > .label .icon, .voting .count, .comment .voting .icon {
  display: inline-block;
  width: 100%; }

html {
  background-color: #f9f9f9; }

body {
  max-width: 1200px;
  min-width: 340px;
  margin: 0 auto; }

.ui.header.app-header {
  margin: 0.5rem 1rem; }

.my-nav {
  height: 47px; }

.segment.my-side-bar, .pushable > .pusher {
  margin-top: 0;
  min-height: calc(100vh - 47px); }

.ui.segment, .ui.attached.inverted.menu {
  border-radius: 0; }

.voting {
  width: 100%; }

.ui.feed > .event > .label .icon, .voting .count, .comment .voting .icon {
  color: rgba(0, 0, 0, 0.5);
  transition: .2s all ease; }

.ui.feed > .event > .label .icon.thumbs {
  font-size: 1.2rem;
  margin-right: 0.4rem;
  width: 50%; }

.comment .voting .icon.thumbs {
  font-size: 1.1rem;
  margin-right: 0.1rem;
  width: 50%; }

.comment .voting .icon {
  font-size: 1.3rem;
  margin: 0 auto; }

.icon.triangle:hover {
  transform: scale(1.2); }

.ui.feed > .event > .label .voting:hover .icon.thumbs, .comment .voting:hover .icon.thumbs {
  color: #1b90fe; }

.voting:hover .count {
  color: rgba(0, 0, 0, 0.95); }

.ui.feed > .event > .content .extra.text {
  max-width: 800px;
  margin-bottom: 2.3rem; }

.ui.comments, .ui.feed > .event {
  max-width: 800px; }

.ui.segment {
  padding: 1.2em 4.5em;
  margin-top: 47px; }

.ui.feed > .event {
  width: calc(100% - 150px); }

.ui.comments .comment {
  position: relative; }

.comment .voting {
  position: absolute;
  left: -3rem;
  top: 0;
  width: 40px; }

.ui.comments .comment {
  margin-left: 45px; }

.ui.comments .comment .actions {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em 0 0; }

.actions i.icon {
  font-size: 1.1em;
  transition: .4s color ease; }

.ui.comments .comment .actions a {
  margin: 0 0.6em 0 0; }

.ui.comments .comment {
  margin-bottom: 1.7rem; }

.ui.comments .comment .actions a:hover .delete, .ui.comments .comment:hover .actions a .delete, .feed-actions a:hover .delete {
  color: #ff2733; }

.ui.comments .comment .actions a:hover .edit, .ui.comments .comment:hover .actions a .edit, .feed-actions a:hover .edit {
  color: rgba(0, 0, 0, 0.8); }

.ui.comments .comment .actions a, .feed-actions a {
  color: rgba(0, 0, 0, 0.2); }

.ui.comments a.add-comment {
  transition: .3s color ease;
  color: rgba(0, 0, 0, 0.7); }

.ui.comments a.add-comment:hover {
  color: #4183c4; }

.ui.feed > .event {
  position: relative; }

.feed-actions {
  position: absolute;
  top: 0;
  right: 0; }

.feed-actions a {
  width: 50%;
  padding-left: 0.7em; }

.feed-actions a i.icon {
  transition: .4s color ease;
  font-size: 1em; }

.comments .more {
  margin-left: 0.4rem; }

.ui.comments {
  position: relative; }

.ui.comments .add-comment {
  position: absolute;
  top: -2.2rem;
  left: -3.2rem; }

.ui.top.attached.menu > .item:first-child.hamburger-link {
  display: none; }

.uppercase {
  text-transform: uppercase; }

.pushable > .pusher.dimmed:after {
  width: 0 !important;
  height: 0 !important; }

.ui.feed {
  font-size: 1.14285714rem; }

.poster-name {
  display: inline-block; }

.ui.small.modal {
  margin: 0 auto;
  max-width: 520px; }

@media (max-width: 730px) {
  .ui.top.attached.menu > .item:first-child.hamburger-link {
    display: flex; }
  .ui.feed > .event {
    width: 100%; }
  .ui.segment {
    padding: 1.2em 1.5em; }
  .pushable > .pusher.dimmed:after {
    width: 100% !important;
    height: 100% !important; }
  .ui.feed {
    font-size: 1rem; }
  .ui.comments .comment .actions {
    top: -0.2rem; }
  .ui.feed > .event > .label + .content {
    margin: .5em 0 .35em 0.9em; }
  .ui.comments .comment > .avatar ~ .content {
    margin-left: 3.2em; }
  .ui.comments .comment {
    margin-left: 38px; }
  .comment .voting {
    left: -2.8rem; } }

@media (max-width: 531px) {
  .ui.inverted.menu .item.search {
    display: none; } }

@media (max-width: 450px) {
  .ui.comments .comment .metadata, .ui.feed > .event > .content .summary > .date {
    margin-left: 0;
    width: 100%; }
  .ui.comments .comment {
    margin-bottom: 0.8rem; } }
